# OS X temporary files
.DS_Store

# User settings
xcuserdata/
*.xcuserstate
*.xcworkspace

# Xcode build files
DerivedData/
.build

# Obj-C/Swift specific
*.hmap

# App packaging
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output